# StartUps.vet

### Quick Introduction

The following data sets have been scraped from `startups.vet/companies` and from `vip.vetbiz.gov/Public/Search/Default.aspx`. 

Both data sets require some cleaning up before they can be comfortably analyzed.

### Data

In [5]:
import pandas as pd

'/home/ron/dev/startups.vet'

In [6]:
startups_data = pd.read_csv('scanners/csv_files/startups_data.csv')

In [7]:
startups_data.head(5)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Website</th>
      <th>Employees</th>
      <th>Total Funding</th>
      <th>Stage</th>
      <th>Year Founded</th>
      <th>Organization Affiliation</th>
      <th>Total Founders</th>
      <th>Veteran Founders</th>
      <th>Veteran Executives</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>AgentHero</td>
      <td>NaN</td>
      <td>k</td>
      <td>NaN</td>
      <td>2015</td>
      <td>Patriot Boot Camp</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>True</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Akouba Credit</td>
      <td>NaN</td>
      <td>k</td>
      <td>NaN</td>
      <td>2015</td>
      <td>Bunker</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>True</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Andela</td>
      <td>NaN</td>
      <td>k</td>
      <td>NaN</td>
      <td>2015</td>
      <td>Patriot Boot Camp</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>True</td>
    </tr>
    <tr>
      <th>3</th>
      <td>AuditPad, Inc.</td>
      <td>2.0</td>
      <td>k</td>
      <td>NaN</td>
      <td>2013</td>
      <td>Patriot Boot Camp</td>
      <td>2.0</td>
      <td>1.0</td>
      <td>True</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Avening Management and Technical Services, LLC</td>
      <td>NaN</td>
      <td>k</td>
      <td>NaN</td>
      <td>2012</td>
      <td>Patriot Boot Camp</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>True</td>
    </tr>
  </tbody>
</table>
</div>

In [8]:
vetbiz_data = pd.read_csv('scanners/csv_files/vetbiz_data.csv')

In [9]:
vetbiz_data.head(5)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Duns</th>
      <th>BusinessName</th>
      <th>DbaName</th>
      <th>City</th>
      <th>State</th>
      <th>Phone</th>
      <th>CompanyEmail</th>
      <th>WebSite</th>
      <th>LastVerified</th>
      <th>ExpirationDate</th>
      <th>...</th>
      <th>Naics</th>
      <th>Fsc</th>
      <th>Psc</th>
      <th>GeographicalServiceArea</th>
      <th>CommercialContracts</th>
      <th>DodContracts</th>
      <th>FSS</th>
      <th>LastModified</th>
      <th>MentorProtege</th>
      <th>JointVenture</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>78705297</td>
      <td>Eugene Robinson</td>
      <td>Anadine Design Management</td>
      <td>Buffalo</td>
      <td>NY</td>
      <td>7165636156</td>
      <td>anadine51@yahoo.com</td>
      <td>NaN</td>
      <td>9/10/2015 12:00:00 AM</td>
      <td>9/10/2017 12:00:00 AM</td>
      <td>...</td>
      <td>236118, 236220, 237310, 238220, 238910, 238990...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NY</td>
      <td>No</td>
      <td>No</td>
      <td>No</td>
      <td>8/25/2016 9:20:39 AM</td>
      <td>No</td>
      <td>No</td>
    </tr>
    <tr>
      <th>1</th>
      <td>117941695</td>
      <td>DL Stone Enterprises, LLC</td>
      <td>Stone Enterprises</td>
      <td>Garden Ridge</td>
      <td>TX</td>
      <td>2106960919</td>
      <td>sales@stonespecialties.com</td>
      <td>stonespecialties.com</td>
      <td>12/23/2015 12:00:00 AM</td>
      <td>12/23/2017 12:00:00 AM</td>
      <td>...</td>
      <td>313110, 314910, 315190, 315210, 315240, 316998...</td>
      <td>7320, 7340, 8105, 8405, 8410, 8520</td>
      <td>NaN</td>
      <td>AK, AL, AR, AZ, CA, CO, CT, DC, DE, FL, GA, HI...</td>
      <td>Yes</td>
      <td>No</td>
      <td>No</td>
      <td>2/6/2016 11:36:08 PM</td>
      <td>No</td>
      <td>No</td>
    </tr>
    <tr>
      <th>2</th>
      <td>961566031</td>
      <td>Friendship SDVB , LLC</td>
      <td>NaN</td>
      <td>Austin</td>
      <td>TX</td>
      <td>4798761012</td>
      <td>friendshipco@mindspring.com</td>
      <td>friendshipcompany1.com</td>
      <td>12/10/2015 12:00:00 AM</td>
      <td>12/10/2017 12:00:00 AM</td>
      <td>...</td>
      <td>236220, 311991, 325120, 423420, 423430, 423990...</td>
      <td>6830</td>
      <td>NaN</td>
      <td>XX</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>12/10/2015 1:07:04 PM</td>
      <td>No</td>
      <td>No</td>
    </tr>
    <tr>
      <th>3</th>
      <td>791265882</td>
      <td>International Mortuary Shipping LLC</td>
      <td>NaN</td>
      <td>Union</td>
      <td>SC</td>
      <td>8644660100</td>
      <td>sprow@charter.net</td>
      <td>internationalmortuaryshipping.com</td>
      <td>9/15/2016 12:00:00 AM</td>
      <td>9/15/2018 12:00:00 AM</td>
      <td>...</td>
      <td>812210, 812220</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>XX</td>
      <td>No</td>
      <td>No</td>
      <td>No</td>
      <td>9/15/2016 9:39:11 AM</td>
      <td>No</td>
      <td>No</td>
    </tr>
    <tr>
      <th>4</th>
      <td>808852177</td>
      <td>(CMR) Services Inc.</td>
      <td>NaN</td>
      <td>Royse City</td>
      <td>TX</td>
      <td>3039013455</td>
      <td>clayrankin79@gmail.com</td>
      <td>NaN</td>
      <td>5/18/2015 12:00:00 AM</td>
      <td>5/18/2017 12:00:00 AM</td>
      <td>...</td>
      <td>112111, 561611</td>
      <td>NaN</td>
      <td>AA95, AB10</td>
      <td>CO, TX</td>
      <td>No</td>
      <td>No</td>
      <td>No</td>
      <td>7/20/2015 12:59:42 PM</td>
      <td>No</td>
      <td>No</td>
    </tr>
  </tbody>
</table>
<p>5 rows × 41 columns</p>
</div>